@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <img src="~/img/Joel Hilton.jpg" alt="Joel Hilton Image" height="450" />

    <p>This is a collection of my favorite films. I hope you enjoy these fantastic films.</p>
</div>
